// Colors

$d-blue: hsl(217, 28%, 15%);
$d-blue-main: hsl(218, 28%, 13%);
$d-blue-cta: hsl(217, 28%, 15%);
$d-blue-footer: hsl(216, 53%, 9%);
$d-blue-testimonial: hsl(219, 30%, 18%);

$dd-blue: rgb(24, 31, 43);

$cyan: hsl(176, 68%, 64%);
$blue: hsl(198, 60%, 50%);
$l-red: hsl(0, 100%, 63%);

$white: hsl(0, 0%, 100%);

$l-white: #c0c0c0;